.body {
    background-color:LightBlue;
}

#single-double:hover .caption{
    visibility:visible;
}

#arched:hover .caption{
   visibility:visible;
}

#awning:hover .caption{
   visibility:visible;
}
.gallery-item{
    border:2px dashed black;
    margin:25px;
    padding:10px;
    
}
.caption{
    visibility:hidden;
}
p {
    border:solid;
    padding:10px;
    margin:20px;
}
.picture {
    width:200px;
}
img {
  border: 5px solid #555;
}

.picture {
  height:200px;
  margin-top:20px; 
   margin-bottom:20px;
   margin-right:20px;
   margin-left:20px;
nav {
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
 }
.windowtable {
  text-align:center;
  margin:auto;
  display:inline;
}
.ul {
  display:inline;
  margin:auto;
}