.body {
    background-color:LightBlue;
}

.tooltip:hover.tooltip-text{
    visibility:visible;
}


.tooltip{
   position:relative;
   display:inline-block;
   height:100px;
    visibility:visible;
}

.tooltip-text{
    width: 200px;
    background-color:aquamarine;
    color:purple;
    text-align: center;
    border-radius:6px; 
    position: absolute;
    z-index: 1;  
    left:100%;
    top:0%;
    padding:5px;
    visibility:hidden;
}


p {
    border:solid;
    padding:10px;
    margin:20px;
}
.picture {
    width:200px;
}
img {
  border: 5px solid #555;
}

nav {
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
 }